/*
workaround for firefox, see https://github.com/Leaflet/Leaflet/issues/4686
*/
.leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated {
    will-change:auto !important;
}

#map {
    width: 100vw;
    height: 100vh;
    font-size: 0.9em;
}

.highlight {
    background: rgba(255,255,127,0.6);
}

.leaflet-div-icon {
    background: inherit;
    border: 0;
}
.leaflet-popup img {
    width: 200px;
}

.photo img {
    width: 50px;
    background-color: rgba(255, 255, 255, 0.7);
}
.roadsign {
    display: inline-block;
    width: max-content;
}

/* parking */
.parking {
    display: inline-block;
}
.parking::after {
    color: #432100;
    content: "∩";
    font-size: 120%;
    font-weight: bold;
    text-shadow: 1px 1px 10px rgba(5, 5, 5, 1);
}
.parking.bicycle_parking-rack::after, .parking.bicycle_parking-racks::after {
    content: "∆";
}
.parking.bicycle_parking-shed::after {
    border-top: 1px solid #432100;
    border-left: 1px solid #432100;
    border-right: 1px solid #432100;
}
.parking.bicycle_parking-informal::after {
    content: "?";
    color: #ff8a8a;
}
.parking.bicycle_parking-anchors::after, .parking.bicycle_parking-wall_loops::after, .parking.bicycle_parking-ground_slots::after {
    content: "x";
    color: #ff8a8a;
}
.amenity-bicycle_repair_station::after, service-bicycle-pump-yes::after {
    content: "🔧";
    border: 2px solid #000;
    border-radius: 50%;
}

/* signs */
.roadsign.b {
    background: #fff;
    color: #000;
    border: 1px solid #f00;
    border-radius: 50%;
}
.roadsign.c, .roadsign.ca, .roadsign.cb, .roadsign.cx {
    background: navy;
    color: #fff;
    border-radius: 50%;
}
.roadsign.e, .roadsign.eb, .roadsign.ec, .roadsign.ed {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}
.roadsign.ip {
    background: navy;
    color: #fff;
    border-radius: 5%;
}
.roadsign.is, .roadsign.isa, .roadsign.isb, .roadsign.isc, .roadsign.isd, .roadsign.ise, .roadsign.isf, .roadsign.isg, .roadsign.ish, .roadsign.isi, roadsign.isj {
    background: #fff;
    color: #21663a;
    border: 1px solid #21663a;
    border-radius: 5%;
}
.roadsign.p {
    margin: 0 5px;
    vertical-align: middle;
    width: 20px;
    height: 16px;
    border-top: solid 20px red;
    border-left: solid 12px transparent;
    border-right: solid 12px transparent;
    color: transparent;
}
.roadsign.p::after {
    position: relative;
    top: -23px;
    left: -22px;
    color: #fff;
    content: "P1";
    font-weight: bold;
}

/* end signs diagonal strikethrough */
.roadsign.bx {
    background: linear-gradient(to bottom right, #fff calc(50% - 2px), #f00, #fff calc(50% + 2px) );
}
.roadsign.cx {
    background: linear-gradient(to bottom right, navy calc(50% - 2px), #fff, navy calc(50% + 2px) );
}
.roadsign.ex {
    background: linear-gradient(to bottom right, #fff calc(50% - 2px), #000, #fff calc(50% + 2px) );
}
.roadsign.ipx {
    background: linear-gradient(to bottom right, #fff calc(50% - 2px), navy, #fff calc(50% + 2px) );
}
.roadsign.isx {
    background: linear-gradient(to bottom right, #fff calc(50% - 2px), #21663a, #fff calc(50% + 2px) );
}

/* special path marking sign / not a real roadsign */
.roadsign.pathsign {
    background: navy;
    color: #fff;
}

.development::before {
    content: "🏗️";
    font-size: 200%;
}

.bikeshare-wb {
    width: 20px;
    height: 17px;
    background-image: url(../images/whitebikes.png);
    background-size: 20px 17px;
    display: block;
    border: 1px dotted #000;
}
.bikeshare-sb {
    width: 20px;
    height: 20px;
    background-image: url(../images/slovnaft-bajk.png);
    background-size: 20px 20px;
    display: block;
}

.feed::before {
    content: "🔴";
}

.user-created::before {
    content: " ";
    font-weight: bold;
    width: 1.4rem;
    height: 1.4rem;
    display: block;
}
.user-created.works::before {
    background-image: url(../images/icons/cone.svg);
    background-size: 1.4rem 1.4rem;
    filter: saturate(120%);
}
.user-created.warning {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid red;
    position:relative;
}
.user-created.warning::before {
    content: " ";
    position: absolute;
    top: 3px;
    left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 19px solid white;
}
.user-created.warning::after {
    content: "!";
    font-size: 120%;
    font-weight: bold;
    position: absolute;
    top: 1px;
    left: -2.5px;
}
.user-created.info::before {
    content: "i";
    color: #fff;
    background: #1f2eb4;
    border: 1px solid #1f2eb4;
    display: block;
    text-align: center;
}
.user-created.unknown::before {
    content: "?";
    color: white;
    background: #dd2e44;
    border: 1px solid #dd2e44;
    border-radius: 50%;
    display: block;
    text-align: center;
}

.state-proposed {
    color: #f00;
    stroke: #f00;
    stroke-width: 3;
    stroke-dasharray: 8 8;
    stroke-opacity: 0.4;
}
/* scheme based on http://colorbrewer2.org/#type=qualitative&scheme=Paired&n=4 */
.highway-pedestrian, .highway-path, .highway-footway {
    color: #a6cee3;
    stroke: #a6cee3;
    stroke-width: 2;
}
.cycleway-shared_lane, .cycleway-left-shared_lane, .cycleway-right-shared_lane, .cycleway-opposite, .cycleway-asl, .network-lcn:not(.state-proposed):not(.highway-cycleway), .complete-yes, .lcn-yes, .lcn-proposed, .maxspeed-50.cycleway-lane, .maxspeed-50.cycleway-right-lane {
    color: #33a02c;
    stroke: #33a02c;
    stroke-width: 3;
}
.bicycle-oneway-yes, .bicycle-designated, .bicycle-lanes-forward-yes-designated, .bicycle-lanes-backward-yes-designated, .bicycle-official, .complete-yes, .cycleway-crossing {
    stroke: #1f78b4;
    stroke-width: 3;
}
.cycleway-lane, .cycleway-shared_busway, .cycleway-left-lane, .cycleway-right-lane, .cycleway-left-opposite, [class*="opposite_lane"], .oneway-yes.bicycle-yes.highway-cycleway {
    color: #1f78b4;
    stroke: #1f78b4;
    stroke-width: 3;
}
.highway-cycleway, .highway-pedestrian.bicycle-designated, .highway-unclassified.bicycle-yes, .motorcar-no.bicycle-yes, .motor_vehicle-no.bicycle-yes, .highway-path.bicycle-yes, .highway-footway.cycleway-shared_lane, .highway-footway.bicycle-yes, .highway-pedestrian.bicycle-yes, .maxspeed-5.bicycle-yes, .maxspeed-10.bicycle-yes, .maxspeed-15.bicycle-yes {
    stroke: #1f78b4;
    stroke-width: 3;
}
.highway-living_street, .highway-residential.bicycle-yes, .highway-service.bicycle-yes, .oneway-yes.bicycle-yes:not([class*="cycleway"]), .ramp-yes, .highway-primary.bicycle-yes, .highway-secondary.bicycle-yes, .highway-tertiary.bicycle-yes {
    stroke: #33a02c;
    stroke-width: 3;
}
[class*="mtb-scale"], .bicycle-yes.surface-gravel, .bicycle-yes.surface-dirt, .bicycle-yes.surface-grass, .highway-cycleway.surface-gravel, .highway-track.bicycle-yes {
    color: #aa5500;
    stroke: #aa5500 !important;
    stroke-width: 3;
}
[class*="incline"]:not(.incline-0):not(.incline-up):not(.incline-down), [class*="tunnel"] {
    stroke-dasharray: 6 8;
}
.area-yes {
    stroke: transparent !important;
    fill: none;
}
.access-private, .motor_vehicle-customers, .surface-cobblestone.bicycle-yes, [class*="barrier"], .cycleway-no, .highway-construction {
    stroke: transparent !important;
}
.access-private.lcn-yes {
    color: #33a02c;
    stroke: #33a02c !important;
    stroke-width: 3;
}

.path.lcn-yes, .path.lcn-proposed {
    stroke-dasharray: 2 8;
}

.distances {
    background: #aa007f;
    color: #fff;
    border: 1px solid #fff;
    width: max-content;
    padding: 2px 4px;
    text-align: center;
    font-weight: bold;
}
.distances[class*="description-minuty"] {
    background: rgba(255, 255, 255, 0.9);
    border: none;
    color: #aa007f;
    width: max-content;
    font-weight: bold;
    font-size: 150%;
}
.class-distances {
    color: #aa007f;
    stroke: #aa007f;
    stroke-width: 5;
}

.hidden {
    display: none;
}
/*
//Wraperclass for the divicon
.map-label {
  position: absolute;
  bottom: 0;
  left: -50%;
  text-align: center;
}
//Wrap the content of the divicon (text) in this class
.map-label-content {
  position: relative;
  left: -50%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #444;
  border-bottom: 0;
  padding: 1px 3px;
}
//Add this arrow
.map-label-arrow {
  width: 0px;
  height: 0px;
  left: 50%;
  border-style: solid;
  border-color: #444 transparent transparent transparent;
  border-width: 10px 6px 0 6px; //[first number is height, second/fourth are rigth/left width]
  margin-left: -6px;
} */
