#map {
    width: 100vw;
    height: 100vh;
}

.leaflet-div-icon {
    background: inherit;
    border: 0;
}
.leaflet-popup img {
    width: 200px;
}

.photo img {
    width: 20px;
}
.roadsign {
    display: inline-block;
}

/* signs */
.roadsign.b {
    background: #fff;
    color: #000;
    border: 1px solid #f00;
    border-radius: 50%;
}
.roadsign.c, .roadsign.ca, .roadsign.cb, .roadsign.cx {
    background: navy;
    color: #fff;
    border-radius: 50%;
}
.roadsign.e, .roadsign.eb, .roadsign.ec, .roadsign.ed {
    background: #fff;
    color: #000;
    border:  1px solid #000;
}
.roadsign.ip {
    background: navy;
    color: #fff;
    border-radius: 5%;
}
.roadsign.is, .roadsign.isa, .roadsign.isb, .roadsign.isc, .roadsign.isd, .roadsign.ise, .roadsign.isf, .roadsign.isg, .roadsign.ish, .roadsign.isi, roadsign.isj {
    background: #fff;
    color: #21663a;
    border: 1px solid #21663a;
    border-radius: 5%;
}
.roadsign.p {
    margin: 0 5px;
    vertical-align: middle;
    width: 20px;
    height: 16px;
    border-top: solid 20px red;
    border-left: solid 12px transparent;
    border-right: solid 12px transparent;
    color: transparent;
}
.roadsign.p::after {
    position: relative;
    top: -23px;
    left: -22px;
    color: #fff;
    content: "P1";
    font-weight: bold;
}

/* end signs diagonal strikethrough */
.roadsign.bx {
    background: linear-gradient(to bottom right, #fff calc(50% - 2px), #f00, #fff calc(50% + 2px) );
}
.roadsign.cx {
    background: linear-gradient(to bottom right, navy calc(50% - 2px), #fff, navy calc(50% + 2px) );
}
.roadsign.ex {
    background: linear-gradient(to bottom right, #fff calc(50% - 2px), #000, #fff calc(50% + 2px) );
}
.roadsign.ipx {
    background: linear-gradient(to bottom right, #fff calc(50% - 2px), navy, #fff calc(50% + 2px) );
}
.roadsign.isx {
    background: linear-gradient(to bottom right, #fff calc(50% - 2px), #21663a, #fff calc(50% + 2px) );
}

.development::before {
    content: "🏗️";
    font-size: 200%;
}

.bikeshare {
    width: 20px;
    height: 17px;
    background-image: url(../images/whitebikes.png);
    background-size: 20px 17px;
    display: block;
    border: 1px dotted #000;
}

.feed::before {
    content: "🔴";
}

.state-proposed {
    color: #f00;
    stroke: #f00;
    stroke-width: 3;
    stroke-dasharray: 8 8;
    stroke-opacity: 0.4;
}
.highway-pedestrian, .highway-path {
    color: #00ffc4;
    stroke: #00ffc4;
    stroke-width: 2;
}
.cycleway-shared_lane, .cycleway-left-shared_lane, .cycleway-right-shared_lane, .cycleway-opposite, .network-lcn:not(.state-proposed):not(.highway-cycleway), .bicycle-practical-yes {
    color: #0f0;
    stroke: #0f0;
    stroke-width: 3;
}
.bicycle-oneway-yes, .bicycle-designated, .bicycle-official, .complete-yes, .cycleway-crossing {
    stroke: #00f;
    stroke-width: 3;
}
.cycleway-lane, .cycleway-shared_busway, .cycleway-left-lane, .cycleway-right-lane, .cycleway-left-opposite, [class*="opposite_lane"], .oneway-yes.bicycle-yes.highway-cycleway {
    color: #00f;
    stroke: #00f;
    stroke-width: 3;
}
.highway-cycleway, .highway-pedestrian.bicycle-designated, .highway-unclassified.bicycle-yes, .motorcar-no.bicycle-yes, .motor_vehicle-no.bicycle-yes, .maxspeed-5.bicycle-yes, .maxspeed-10.bicycle-yes, .maxspeed-15.bicycle-yes {
    stroke: #00f;
    stroke-width: 3;
}
.highway-living_street, .highway-path.bicycle-yes, .highway-footway.bicycle-yes, .highway-residential.bicycle-yes, .highway-service.bicycle-yes, .highway-pedestrian.bicycle-yes, .oneway-yes.bicycle-yes:not([class*="cycleway"]), .ramp-yes {
    stroke: #0f0;
    stroke-width: 3;
}
[class*="mtb-scale"], .bicycle-yes.surface-gravel, .highway-cycleway.surface-gravel, .highway-track.bicycle-yes {
    color: #aa5500;
    stroke: #aa5500 !important;
    stroke-width: 3;
}
[class*="incline"]:not(.incline-0):not(.incline-up):not(.incline-down), [class*="tunnel"] {
    stroke-dasharray: 4 8;
}
.area-yes {
    stroke: transparent !important;
    fill: none;
}
.access-private, .motor_vehicle-customers, .surface-cobblestone.bicycle-yes, [class*="barrier"], .cycleway-no {
    stroke: transparent !important;
}